.three {
   padding-bottom: rem(256);
   // .three__container
   &__container {
   }
   // .three__title
   &__title {
      &:not(:last-child) {
         margin-bottom: rem(24);
      }
   }
   // .three__subtitle
   &__subtitle {
      max-width: rem(756);
      @media (max-width: em(650)) {
         max-width: rem(355);
         margin: 0 auto;
      }
      &:not(:last-child) {
         margin-bottom: rem(64);
      }
   }
   // .three__row
   &__row {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: rem(60);
      @media (max-width: $tablet) {
         gap: rem(32);
      }
      @media (max-width: $mobile) {
         flex-direction: column;
         gap: rem(64);
      }
   }
   // .three__left
   &__left {
      flex: 0 0 rem(336);
   }
   // .three__right
   &__right {
      max-width: rem(599);
   }
   &__button {
      font-weight: 500;
      letter-spacing: 0.005em;
      display: flex;
      max-width: rem(285);
      border: 2px solid #262728;
      border-radius: 10px;
      height: rem(48);
      align-items: center;
      padding: rem(5) rem(10);
      justify-content: center;
      color: #f3f4f7;
      transition: all 0.3s cubic-bezier(0.5, 0.02, 0.13, 0.5);
      @media (max-width: $mobile) {
         max-width: rem(285);
         margin: 0 auto;
      }
      @media (any-hover: hover) {
         &:hover {
            border: 2px solid $blueDarkColor;
         }
      }
      &:active {
         color: #f3f4f6;
         border: 2px solid $blueDarkColor;
         background-color: $blueDarkColor;
      }
   }
   // .three__text
   &__text {
      font-weight: 500;
      @include adaptiveValue("font-size", 24, 18);
      line-height: math.div(30, 24);
      letter-spacing: 0.01em;
      color: #f3f4f7;
      @media (max-width: $mobile) {
         text-align: center;
      }
      &:not(:last-child) {
         margin-bottom: rem(32);
         @media (max-width: $mobile) {
            margin-bottom: rem(24);
         }
      }
      p {
         &:not(:last-child) {
            margin-bottom: rem(24);
         }
      }
   }
   // .three__text-blue
   &__text-blue {
      color: $blueColor;
   }
   // .three__text-dark-blue
   &__text-dark-blue {
      color: $blueDarkColor;
   }
   // .three__text-violet
   &__text-violet {
      color: $violetColor;
   }
   // .three__text-rose
   &__text-rose {
      color: $roseColor;
   }
}
