.two {
   @include adaptiveValue("padding-top", 196, 0);
   padding-bottom: rem(246);
   // .two__container
   &__container {
   }
   // .two__title
   &__title {
      &:not(:last-child) {
         margin-bottom: rem(24);
      }
      @media (max-width: em(650)) {
         max-width: rem(400);
         margin: 0 auto;
      }
   }
   // .two__subtitle
   &__subtitle {
      margin: 0 auto;
      color: #f3f4f7;
      @media (max-width: em(650)) {
         max-width: rem(355);
         margin: 0 auto;
      }
      &:not(:last-child) {
         margin-bottom: rem(64);
      }
   }
   // .two__wrap
   &__wrap {
   }
}
.title__row {
   @media (max-width: em(650)) {
      display: block;
   }
}
